<?xml version="1.0"?>
<launch>
  <include file="$(find racecar_gazebo)/launch/racecar.launch">
	<arg name="world_name" value="racecar_walker"/>
  </include>
  <remap from="low_level/ackermann_cmd_mux/input/teleop" to="/vesc/low_level/ackermann_cmd_mux/input/teleop"/>
  <include file="$(find racecar)/launch/includes/common/joy_gazebo_teleop.launch.xml" >
      <arg name="racecar_version" value="racecar-v2" />
  </include>

  <!-- output="screen" allows us to see print statements -->
  <node pkg="speedDaemons_gap_finding" name="find_gap_node" type="find_gap.py" output="screen"/>
  <node pkg="speedDaemons_gap_finding" name="sim_connector_node" type="sim_connector.py" output="screen"/>
  <node pkg="speedDaemons_gap_finding" name="visualize_gap_finding_node" type="visualize_gap_finding.py" output="screen"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find speedDaemons_gap_finding)/rviz/race_car_gap_finding.rviz"/>

</launch>
