<?xml version="1.0"?>
<launch>

        <arg name="pure_pursuit_config" default="$(find speed_daemons_pure_pursuit)/config/pure_pursuit.yaml" />
        <rosparam file="$(arg pure_pursuit_config)" command="load"/>
  

	<node pkg="speed_daemons_pure_pursuit" name="remap_gazebo_pose_node" type="remap_gazebo_pose.py" output="screen" />
  	<!-- <node pkg="lab_pure_pursuit" name="pure_pursuit_node" type="pure_pursuit_speed_control.py" output="screen"/>  -->
  	<node pkg="speed_daemons_pure_pursuit" name="sim_connector_node" type="sim_connector.py" output="screen"/>
  	<node pkg="speed_daemons_pure_pursuit" name="visualize_markers_node" type="visualize_markers.py" output="screen"/>
        <node pkg="speed_daemons_pure_pursuit" name="pure_pursuit_visualizer" type="visualize.py" output="screen"/>
	<node pkg="speed_daemons_pure_pursuit" name="pure_pursuit_node" type="pure_pursuit_sim.py"  output="screen">
		<param name="waypoints_filepath" value="$(find speed_daemons_pure_pursuit)/waypoints/kelley_waypoints.csv"/>
	</node>
  	

</launch>
