<?xml version="1.0"?>
<launch>
  <include file="$(find racecar_gazebo)/launch/racecar.launch">
	<arg name="world_name" value="track_levine"/>
  </include>
  <node pkg="wall_following" name="pid_error_node" type="pid_error.py" output="screen"/> 
  <node pkg="wall_following" name="control_node" type="control.py" output="screen"/>
  <node pkg="wall_following" name="sim_connector_node" type="sim_connector.py" output="screen"/>
  <node pkg="wall_following" name="instruction_reader_node" type="instruction_reader.py" output="screen"/>
  <node pkg="wall_following" name="master_node" type="master.py" output="screen"/>
  
  <node pkg="speedDaemons_gap_finding" name="find_gap_node" type="find_gap.py"/>
  <node pkg="speedDaemons_gap_finding" name="visualize_gap_finding_node" type="visualize_gap_finding.py"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find wall_following)/rviz/race_car_wall_following.rviz"/>


</launch>
